* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.logo-img {
  height: 64px;
  margin-left: 40px;
}

.main-content {
  height: 500px;
  background-image: linear-gradient(to right, #39462d, #39462d30),
    url("../img/background-img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  color: white;
}

.text-container {
  padding: 120px 40px;
}
.sub-header-text {
  font-size: 48px;
  line-height: 0.5;
  color: white;

}
.main-header-text {
  font-size: 64px;
}

.header-description {
  width: 60%;
  line-height: 1.8;
  padding-top: 10px;
}

.conversion-rate {
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
  align-items: center;
}

.flag-img {
  margin-right: 10px;
}

.btn-container {
  margin-left: 40px;
  padding-top: 40px;
}

/*.login-btn {
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}*/
.signup-btn {
  padding: 10px 20px;
  background: linear-gradient(to right, #39462d, #39462dab);
  color: white;
  border: none;
  border-radius: 5px;
}

/* .testing {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
  } */
